.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.header {
 background-color: dimgray;
 color:gainsboro;
}

.nav-items {
  display:flex;
  justify-items: center;
  justify-content: space-evenly;
}

